.main-chat
  .main-top
    .top-left
      .top-left__group-name
        = @group.name
      .top-left__member
        Member : 
        - @group.users.each do |group|
          = group.name
    .top-right
      = link_to "Edit", edit_group_path(@group), class: "top-right__btn"
  .main-contents
    = render @messages
  .main-bottom
    = form_with model: [@group, @message], class: "form", local: true do |f|
      .form
        = f.text_field :body, placeholder: "type a message", class: "form__message"
        = f.label :image, class: "form__label" do
          = icon('far', 'image', class: "form__label--icon")
          = f.file_field :image, class: "form__label--file"
      = f.submit 'Send', class: "form-btn"
        