.side-bar
  .user-block
    .user-box
      .user-name
        = current_user.name
      .icon-box
        = link_to new_group_path, class: "icon-box__link icon-box__link--edit" do
          = icon('fas', 'edit', class: "icon-box__link--icon")
          %span<>
        = link_to edit_user_path(current_user), class: "icon-box__link" do
          = icon('fas', 'cog', class: "icon-box__link--icon")
  .group-list
    - current_user.groups.each do |group|
      .group-box
        = link_to group_messages_path(group) do
          .group-box__name
            = group.name
          .group-box__message
            = group.show_last_message
      